@import "./variables.css";


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none ;
}

#app {
    font-family: "mons";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

.image-wrapper {
    display: flex;
    justify-content: flex-start;
}

.image__logo {
    width: 120px;
    height: 120px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input {
    border: 2px solid black;
    border-radius: 4px;
    width: 450px;
    height: 40px;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
}

.list_item {
    display: flex;
    justify-content: space-between;
    width: 450px;
    
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}

.nav__link:hover {
    text-decoration: underline;
    color: darkcyan;
}

.poster {
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.img__poster {
    margin: 10px;
    border: 2px solid black;
    border-radius: 4px;
    
}

.login {
    padding: 15px 0 15px 0;
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.form__input {
    margin-bottom: 7px;
    
}

.button {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-top: 5px;
}

.btn {
    display: flex;
    justify-content: space-around;
    height: 26px;
    width: 133px;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    transition: 1s;
}

.btn:hover {
    background: darkcyan;
    transform: scale(1.1);
} 

.container {
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: aquamarine;
}

h2 {
    margin: 10px;
    text-align: center;
    
}

.container-courses {
    display: flex;
    padding: 5px;
    
}

.logo__course {
    width: 350px;
    height: 260px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.course__item {
    margin:10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    transition: 1s;
    background-color: aquamarine;
}

.course__item:hover {
    transform: scale(1.1);
} 

.footer {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: aquamarine;
    height: 10vh;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
    width: 799px;
}

.items {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.items:hover {
    text-decoration: underline;
    color: darkcyan;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}